In [9]:
str="Anil";
print(str.lower());
print(str.upper());

anil
ANIL

## booleon methods

In [2]:
s='python is Easy programming to learn and interesting'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [4]:
s="Application"
s1='ANIL'
print(s.isupper())
print(s1.isupper())

False
True

In [7]:
s="5678"
s1="App1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [8]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [10]:
s="Python programming";
s1="Python Programming";
print(s.istitle());
print(s1.istitle());

False
True

In [13]:
s="python"
s1="  "
print(s.isspace())
print(s1.isspace())

False
True

## string functions
## join

In [12]:
str="python"
print(" ".join(str))

p y t h o n

In [22]:
print(" g ".join(["python","programming","Easy"]))

python g programming g Easy

In [23]:
lst=["",""]
print(",".join(lst));

,

## split

In [24]:
s="Python is Easy";
print(s.split())
print(s.split("a"));
print(s.split(","))

['Python', 'is', 'Easy']
['Python is E', 'sy']
['Python is Easy']

In [25]:
s="Python Programming is easy to learn";
lst=s.split();
print(lst);
print(lst.index("is"));

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [26]:
s="Python Programming";
print(s.replace("gra","application"));

Python Proapplicationmming

In [27]:
s="Python Programming is easy to learn";
lst=list(s);
print(lst);

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

## python-Tuples

In [28]:
t1=("Python","Programming","1989","2019","Machine Learning","AI")
t2=(1,2,3,4,5)
print(t1);
print(t2);

('Python', 'Programming', '1989', '2019', 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [29]:
t1=("Python","Programming","1989","2019","Machine Learning","AI")
print("t1[0]=",t1[0]);
print("t1[2]=",t1[2]);
print("t1[-1]=",t1[-1]);
print("t1[1:4]=",t1[1:4]);
print("t1[2:-2]=",t1[2:-2]);

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('Programming', '1989', '2019')
t1[2:-2]= ('1989', '2019')

In [30]:
t1=("Python","Programmong"); 
t2=(1989,2019,"Machine Learning","AI");
t3=t1+t2;
print(t3);

('Python', 'Programmong', 1989, 2019, 'Machine Learning', 'AI')

In [31]:
t1=("Python","Programming","1989","2019","Machine Learning","AI")
print(len(t1))

6

In [32]:
t1=(1,2,3,4,5);
t2=(1,2,3,4,5);
print(t1);
print(t2);
a=cmp(t1,t2);
print(a);

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

NameError: name 'cmp' is not defined

In [33]:
list1=["Python","Pogrammong",1989,2019,"Machine Learning","AI"];
print(list1);
tuple1=tuple(list1);
print(tuple1);

['Python', 'Pogrammong', 1989, 2019, 'Machine Learning', 'AI']
('Python', 'Pogrammong', 1989, 2019, 'Machine Learning', 'AI')

## dictionary

In [6]:
user={'Name':'Charan','Mobile number':'7474747'}
print("User['Name']=",user['Name'])

User['Name']= Charan

In [7]:
user={'Name':'Charan','Mobile number':'7474747'}
print("User['Name']=",user['Name'])
user['address']='Hyderabad'
print(user['address'])

User['Name']= Charan
Hyderabad

In [17]:
user={'Name':'Charan','Mobile number':'7474747'}
del user['Name']
user.clear()
del user

In [20]:
user={'Name':'Charan','Mobile number':'7474747'}

In [21]:
user

{'Name': 'Charan', 'Mobile number': '7474747'}

In [23]:
user.values()

dict_values(['Charan', '7474747'])

In [24]:
user={'Name':'Charan','Mobile number':'7474747'}
print(len(user));
user['Address']='Hyerabad'
print(len(user))

2
3

In [25]:
user={'Name':'Charan','Mobile number':'7474747'}
user1=user.copy()

print(user)
print(user1)
user['Address']='Hyderabad'
print(user)
print(user1)

{'Name': 'Charan', 'Mobile number': '7474747'}
{'Name': 'Charan', 'Mobile number': '7474747'}
{'Name': 'Charan', 'Mobile number': '7474747', 'Address': 'Hyderabad'}
{'Name': 'Charan', 'Mobile number': '7474747'}

In [26]:
user={'Name':'Charan','Mobile number':'7474747'}
print(user.items())

dict_items([('Name', 'Charan'), ('Mobile number', '7474747')])

In [27]:
user={'Name':'Charan','Mobile number':'7474747'}
print(user.values())

dict_values(['Charan', '7474747'])

In [28]:
user={'Name':'Charan','Mobile number':'7474747'}
user1=user.copy()
print(user.values())
print(user1.values())

dict_values(['Charan', '7474747'])
dict_values(['Charan', '7474747'])

## string formatting
%s %d

In [29]:
list=['python','programming']
print("%s %s"%(list[0],list[1]))

python programming

## add contact

In [42]:
contacts={}
def addContact(name,phone):
      #verify that the contact doesnot already exists
    if name not in contacts:
        contacts[name]=phone
        print("Contact %s added" % name)
    else:
        print("Contact %s already exists" % name)
    return
addContact("Anil",8467987563)
addContact("Harsha",764985987)
addContact("Anil",456798086)
print(contacts)

Contact Anil added
Contact Harsha added
Contact Anil already exists
{'Anil': 8467987563, 'Harsha': 764985987}

## search for a particular contact

In [44]:
def searchContact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchContact("Anil")
searchContact("Ajay")
searchContact("Harsha")
searchContact("Kranth")

Anil  :  8467987563
Ajay does not exists
Harsha  :  764985987
Kranth does not exists

In [45]:
print(contacts)

{'Anil': 8467987563, 'Harsha': 764985987}

## import contacts

In [46]:
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successful");
    return;

newContacts={'Dinesh':45674578,'Ajay':894577387}
importContacts(newContacts)

2 Contacts added successful

## delete a contact

In [47]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,": is deleted from the contacts")
    else:
        print(name,": is not exists in the contacts")
    return
deletecontact("Harsha")
deletecontact("Naveen")

Harsha : is deleted from the contacts
Naveen : is not exists in the contacts

In [48]:
print(contacts)

{'Anil': 8467987563, 'Dinesh': 45674578, 'Ajay': 894577387}

## update contact

In [53]:
def updatecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,": updated with new phone number")
    else:
        print(name,": not exists in the contacts")
    return
updatecontact("Harsha",9983645331)
updatecontact("Anil",9847560404)

Harsha : not exists in the contacts
Anil : updated with new phone number

In [54]:
print(contacts)

{'Anil': 9847560404, 'Dinesh': 45674578, 'Ajay': 894577387}

In [56]:
lst=[1, 2, 3, 4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [57]:

lst=[1,2,3,4]
print("Value at : {0} Value at : {1}".format(lst[0],lst[1]))
print("Value at : {0} Value at : {1}".format(lst[2],lst[3]))

Value at : 1 Value at : 2
Value at : 3 Value at : 4

## standard lib math

In [59]:
from math import floor as f1
f1(123.456)

123

In [60]:
from math import factorial as fact
fact(5)

120

In [62]:
import math
math.factorial(5)

120

## generate the random no btw two lists

In [63]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(10,12,120)

19 37 67 58 48 69 18 93 64 30